<?xml version="1.0" standalone="no" ?>
<world gridSize="30,30,30" windowSize="1024,800">
    <camera target="191.388,157.841,140.654" directionSpherical="312.835,2.81127,230" angle="50.000000" near="1.000000" far="400.000000" />
    <spotlight target="80,30,30" directionSpherical="-35,40,300" angle="50.690068" />
    <blockList blockSize="10,10,10">
        <block position="16,15,16" color="255,140,0" orientation="0" />
        <block position="15,15,17" color="255,140,0" orientation="0" />
        <block position="16,14,17" color="255,140,0" orientation="0" />
        <block position="16,14,15" color="255,140,0" orientation="7" />
        <block position="17,14,16" color="255,140,0" orientation="0" />
        <block position="17,14,18" color="255,140,0" orientation="0" />
        <block position="17,13,15" color="255,140,0" orientation="0" />
        <block position="16,15,14" color="255,140,0" orientation="0" />
        <block position="16,14,13" color="255,140,0" orientation="0" />
        <block position="16,15,12" color="255,140,0" orientation="0" />
        <block position="16,14,11" color="255,140,0" orientation="0" />
        <block position="15,15,11" color="255,140,0" orientation="0" />
        <block position="16,15,10" color="255,140,0" orientation="0" />
        <block position="18,12,15" color="255,140,0" orientation="0" />
        <block position="18,13,16" color="255,140,0" orientation="0" />
        <block position="19,12,16" color="255,140,0" orientation="0" />
        <block position="15,16,16" color="255,140,0" orientation="0" />
        <block position="19,11,15" color="255,140,0" orientation="0" />
        <block position="19,12,14" color="255,140,0" orientation="0" />
        <block position="14,16,17" color="255,140,0" orientation="0" />
        <block position="14,17,16" color="255,140,0" orientation="0" />
        <block position="14,17,18" color="255,140,0" orientation="0" />
        <block position="13,17,17" color="255,140,0" orientation="0" />
        <block position="16,14,19" color="255,140,0" orientation="0" />
        <block position="17,14,20" color="255,140,0" orientation="0" />
        <block position="16,14,21" color="255,140,0" orientation="0" />
        <block position="17,13,21" color="255,140,0" orientation="0" />
        <block position="17,14,22" color="255,140,0" orientation="0" />
        <block position="17,14,10" color="255,140,0" orientation="0" />
        <block position="18,12,13" color="255,140,0" orientation="0" />
        <block position="15,15,9" color="255,140,0" orientation="0" />
        <block position="15,16,12" color="255,140,0" orientation="0" />
        <block position="19,11,17" color="255,140,0" orientation="0" />
        <block position="20,11,14" color="255,140,0" orientation="0" />
        <block position="17,13,23" color="255,140,0" orientation="0" />
        <block position="18,13,20" color="255,140,0" orientation="0" />
        <block position="16,15,22" color="255,140,0" orientation="0" />
        <block position="14,16,19" color="255,140,0" orientation="0" />
        <block position="13,17,15" color="255,140,0" orientation="0" />
        <block position="13,18,18" color="255,140,0" orientation="0" />
        <block position="19,12,12" color="255,140,0" orientation="0" />
        <block position="18,12,11" color="255,140,0" orientation="0" />
        <block position="19,12,10" color="255,140,0" orientation="0" />
        <block position="18,12,9" color="255,140,0" orientation="0" />
        <block position="18,13,10" color="255,140,0" orientation="0" />
        <block position="17,13,11" color="255,140,0" orientation="0" />
        <block position="19,11,9" color="255,140,0" orientation="0" />
        <block position="18,13,8" color="255,140,0" orientation="0" />
        <block position="14,16,11" color="255,140,0" orientation="0" />
        <block position="14,17,12" color="255,140,0" orientation="0" />
        <block position="13,17,11" color="255,140,0" orientation="0" />
        <block position="13,17,13" color="255,140,0" orientation="0" />
        <block position="13,18,12" color="255,140,0" orientation="0" />
        <block position="13,18,10" color="255,140,0" orientation="0" />
        <block position="14,17,14" color="255,140,0" orientation="0" />
        <block position="12,18,13" color="255,140,0" orientation="0" />
        <block position="14,17,20" color="255,140,0" orientation="0" />
        <block position="14,16,21" color="255,140,0" orientation="0" />
        <block position="14,17,22" color="255,140,0" orientation="0" />
        <block position="14,16,23" color="255,140,0" orientation="0" />
        <block position="15,16,22" color="255,140,0" orientation="0" />
        <block position="15,15,21" color="255,140,0" orientation="0" />
        <block position="15,16,24" color="255,140,0" orientation="0" />
        <block position="13,17,23" color="255,140,0" orientation="0" />
        <block position="19,12,18" color="255,140,0" orientation="0" />
        <block position="19,11,19" color="255,140,0" orientation="0" />
        <block position="19,12,20" color="255,140,0" orientation="0" />
        <block position="19,11,21" color="255,140,0" orientation="0" />
        <block position="20,11,20" color="255,140,0" orientation="0" />
        <block position="18,12,21" color="255,140,0" orientation="0" />
        <block position="20,11,22" color="255,140,0" orientation="0" />
        <block position="20,10,19" color="255,140,0" orientation="0" />
    </blockList>
</world>
